
:root {
--main-color: #d8d2e1;
--secondary-color: #2d2d2a;
--nav-bg-color: #1c1d21;
--link-color: #f0b729;
--last-color: #a4d2d1;
--active-color: #e5dcc5;
--primary-color: #586ba4;
--accent-color: #ffe74c;
--text-color: #c14953;
--accent-color-2: #f78764;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} 

body {
	color: #ffffff;
	width: 100%;
	min-height: 100vh;
	background: #1c1d21;
	font-family: "Space Mono", "JetBrains Mono", "Fira Code", monospace;
	font-size: 17px;
	line-height: 1.55;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


a {
	color: orange;
	text-decoration: none;
}

::before, ::after {
}

